.nav-item {
color: blueviolet;
}
body {
    font-family: "Semplicita Pro", sans-serif;
  }
  
button {
      font-family: "Semplicita Pro", sans-serif; }
header {
    margin-bottom: 100px;
    
}
section {
    padding-top: 100px;
    padding-left: 20px;
}
h1 {
    padding-left: 20px;
}
.problemstatement {
    padding-left: 20px;
    padding-right: 20PX;
    padding-bottom: 200px;
}
.carousel-item {
    scale: 70%;
    padding-top: none;
}
iframe {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    height: 80%; 
    top: 500px;
}
